.profile__input {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    background-color: transparent;
    border: 0;
}

.profile__input:focus-visible {
    outline: 0;
}