.profile__input-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile__input-wrapper:first-child {
    padding-bottom: 16px;
    border-bottom: 1px solid #424242;
}

.profile__input-wrapper:last-child {
    padding-top: 16px;
}