.profile__form-submit-button {
    width: 100%;
    border-radius: 3px;
    background: #4285F4;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;
    padding-top: 13px;
    padding-bottom: 15px;
    border: 0;
    
}