.navigation__navigation {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 59%;
}

@media screen and (max-width:768px) {


    .navigation__navigation {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        width: 68vw;
        height: 100%;
        padding-top: 160px;
        padding-bottom: 92px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #202020;
    }



    .navigation__navigation-invisible {
        display: none;
    }



    .navigation__navigation-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        background: #000000;
        opacity: 0.3;
    }

}

@media screen and (max-width:380px) {
    .navigation__navigation {
        width: 100vw;
    }
}

.navigation__navigation-overlay-display-none {
    display: none;
}