.navigation__navigation-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
}

@media screen and (max-width:768px) {
    .navigation__navigation-wrapper {
        display: flex;
        flex-direction: column;
        gap: 28px;
        align-items: center;
    }
}

@media screen and (max-width:380px) {
    .navigation__navigation-wrapper {
        gap: 24px;
    }
}