.profile__edit-button {
    color: #FFF;
    text-align: center;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.8;
}