.aboutMe__caption {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .aboutMe__caption {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 600px) {
    .aboutMe__caption {
        font-size: 11px;
        line-height: 16px;
    }
}